.header {
  position: fixed;
  transition: 0.4s;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  .header_row {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    max-width: 100px;
    max-height: 100px;
    img {
      object-fit: contain;
      object-position: center;
    }
  }
  .menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu_item {
      padding: 0 25px;
      @include breakpoint(md-down) {
        padding: 0 15px;
      }
      .menu_link {
        transition: 0.4s;
        color: #000000;
        position: relative;
        &:hover {
          color: $color_2;
        }
        .icon {
          transition: inherit;
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          max-height: 8px;
          fill: $color_1;
        }
        &.active {
          .icon {
            fill: $color_2;
          }
        }
      }
    }
    &.scroll {
      background-color: #d0d0d0;
    }
  }
  .phone_wrap {
    padding-left: 50px;
    .column {
      display: flex;
      flex-direction: column;
      position: relative;
      .icon_link {
        position: absolute;
        top: 50%;
        right: calc(100% + 15px);
        width: 34px;
        height: 34px;
        background-color: $color_5;
        border-radius: 50%;
        transform: translateY(-50%);
        .icon {
          transition: 0.4s;
          position: absolute;
          width: 18px;
          height: 18px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          fill: #0e2f3e;
        }
        &:hover {
          .icon {
            fill: #ffffff;
          }
        }
      }
    }

    .phone_link {
      font-weight: 500;
      font-size: 16px;
      color: #0e2f3e;
      margin-bottom: 5px;
      transition: 0.4s;
      &:hover {
        color: $color_2;
      }
    }
    .button-link {
      font-size: 16px;
      color: #00923f;
      &:hover {
        color: $color_2;
      }
    }
  }
}
