html(lang="ru")
include ./components/head.pug
  
body
    .wrapper
        include ./components/header.pug
        include ./section/time.pug
        include ./section/price.pug
        include ./section/fqa.pug
    include ./components/footer.pug
include ./components/bottom.pug 
           