section.section_benefits.section
    .anchor#link-2
    .container
        .h2 Переваги
        .wrap
            .item.item_1
                .text Великий вибір гуртків
            .item.item_2
                .text Постійний зв'язок  з батьками
            .item.item_3
                .text В кожній групі – вихователь + помічник вихователя+ няня
            .item.item_4
                .text Пізнавальні та розважальні екскурсії кожні 2 місяці безкоштовно
            .item.item_5
                .text Охорона 24/7. Відеоспостереження в вашому телефоні
            .item.item_6
                .text Своя кухня і кваліфіковані кухари
            .item.item_7
                .text Англійська з 2-х років
            .item.item_8
                .text У кожної групи окремий ігровий майданчик
            .item.item_9
                .text Безкоштовне розвезення дітей по домівках
            .item.item_10
                .text Комфортні групи
            .item.item_11
                .text Велика територія
            .item.item_12
                .text Якісна підготовка до школи
            .item.item_13
                .text Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф